<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="vendor/autoload.php"
         colors="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd"
>
    <source>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </source>
    <testsuites>
        <testsuite name="Item test suite">
            <directory>tests/Item</directory>
        </testsuite>
        <testsuite name="Quest test suite">
            <directory>tests/Quest</directory>
        </testsuite>
        <testsuite name="Crafting test suite">
            <directory>tests/Crafting</directory>
        </testsuite>
    </testsuites>
</phpunit>
